.env
.env.*
!.env.example

/web-aio

/vendor
/node_modules
/public/build
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/bootstrap/cache/*.php

/.phpunit.cache
/.idea
/.vscode
/.tmp

*.log
*.sqlite
Thumbs.db
Desktop.ini
